body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.bottom-footer {
    background-color: #aaaaaa;
    padding: 1em;
    margin-top: 1em;
}

footer {
    padding-top: 1em;
    margin-top: 4em;
    border-top: 1px solid silver;
}

