@charset "utf-8";

/* CSS Document */


/*--Import GLOBAL CSS--*/

@import url('global.css');
@import url('simple-line-icons.css');
body {
    font-family: 'EONBrixSans', sans-serif;
    color: #000;
    font-weight: 200;
}

.header {
    min-height: 110px;
    background-color: #fff;
    padding: 10px 0;
}

.header.position-absolute {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-menu {
    margin-left: calc(100vw / 12 * 1);
}

.header-menu ul li {
    margin: 0 35px 0 0;
    list-style: none;
    padding-bottom: 0.5em;
}

.header-menu ul li:last-child {
    margin: 0;
}

.header-menu ul li a {
    font-size: 16px;
    color: #000;
}

.header-menu ul li a:hover {
    color: var(--primary-color);
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    transition: all 0.2s linear;
    transform: scale(0);
    opacity: 0;
    z-index: 99;
}

.menu.menu-active {
    transform: scale(1);
    opacity: 1;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.menu ul li {
    margin: 0 0 15px 0;
    list-style: none;
}

.menu ul li a {
    font-size: 18px;
    color: #000;
}

.menu ul li a:hover {
    color: var(--primary-color);
}

.hero-slide {
    min-height: 100vh;
}

.hero-slide-1 {
    background: url(../img/banner-1.jpg) center center no-repeat;
    background: url(../img/banner-1.jpg) center center no-repeat;
    background-size: cover;
}

.hero-slide p {
    margin-top: 30px;
    max-width: 60%;
}

.hero-slide p:first-child {
    margin-top: 0;
}

.hero-footer {
    min-height: 160px;
    background: rgba(236, 101, 25, 0.85);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.nav-controls .nav-icon {
    margin-left: 30px;
}

.hero-footer .row.rows {
    margin: -8px -10px;
}

.hero-footer .row.rows .columns {
    padding: 8px 10px;
}

.main {
    padding: 100px 0;
}

.section {
    margin-bottom: 100px;
}

.section:last-child {
    margin-bottom: 0;
}

.article h2 {
    margin-top: 2em;
    margin-bottom: 30em;
    padding-bottom: 20px;
    position: relative;
}

.article h2:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
    background-color: var(--primary-color);
    content: "";
}

.prodotti-services h4 {
    margin-bottom: 20px;
}

.prodotti-services h4 span {
    margin-right: 15px;
}

.prodotti-services h4 span:last-child {
    margin-right: 0;
}

.article h1,
.article h2 {
    margin-bottom: 40px;
}

.article h1:last-child,
.article h2:last-child {
    margin-bottom: 0;
}

p,
.article p {
    margin-bottom: 15px;
}

.article p:last-child {
    margin-bottom: 0;
}

blockquote {
    padding: 50px 0;
    color: #939393;
    font-style: italic;
}

blockquote p {
    padding-left: calc(100vw/12);
    position: relative;
    font-size: 36px;
    color: #939393;
}

blockquote p:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '"';
    line-height: 1;
    font-size: 130px;
    color: var(--primary-color);
}

.article .btn-wrap {
    padding: 20px 0;
}

.footer {
    background-color: var(--light-gray-color);
    min-height: 350px;
    padding: 15px 0;
}

.footer div span {
    display: block;
    font-size: 14px;
    color: #000;
}

.footer-logo img {
    margin-right: 15px;
}

.footer-logo img:last-child {
    margin-right: 0;
}

.footer-block {
    margin-top: 30px;
}

.footer-block:first-child {
    margin: 0;
}

.footer-block p,
.footer-block a {
    font-size: 14px;
}

.footer-block p {
    margin-bottom: 5px;
}

.footer-block p:last-child {
    margin-bottom: 0;
}

ul.footer-links {
    padding: 0px;
}

.footer-links li {
    margin-bottom: 5px;
    list-style: none;
}

.footer-links li:last-child {
    margin-bottom: 0;
}

.footer-links a {
    color: #000;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.sidebar-block {
    margin-bottom: 30px;
}

.sidebar-block:last-child {
    margin-bottom: 0;
}

.sidebar-box {
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.14);
    padding: 40px;
}

.sidebar-box h6 {
    cursor: pointer;
}

.sidebar-box h6 i {
    font-size: 16px;
}

.sidebar-list {
    margin-top: 30px;
}

.sidebar-list li {
    margin-bottom: 15px;
    list-style: none;
}

.sidebar-list li:last-child {
    margin-bottom: 0;
}

.sidebar-list li a {
    font-size: 18px;
    color: #000;
}

.sidebar-list li ul {
    padding-left: 15px;
    margin-top: 15px;
}

.sidebar-list li a:hover {
    color: var(--primary-color);
}

.sidebar-box ul {
    display: none;
}

.banner {
    overflow: hidden;
}

.banner .container-fluid {
    /* padding-top: 110px; */
    padding-bottom: 50px;
    min-height: 90vh;
}

.banner::before {
    position: absolute;
    left: 55vw;
    bottom: 15vh;
    width: 130vh;
    height: 130vh;
    border-radius: 100%;
    background-color: var(--primary-color);
    content: "";
}

.banner figure img {
    max-height: 60vh;
}

.banner p {
    margin-top: 30px;
    max-width: 60%;
}

.banner p:first-child {
    margin-top: 0;
}

.question-links {
    padding-left: 30px;
    border-left-width: 2px;
    border-left-style: solid;
    /*mod*/
    background-image: url(../img/turista.jpg);
    background-repeat: no-repeat;
    padding: 20px 20px 20px 200px;
    border-left-width: 2px;
    border-left-style: solid;
}

.question-links h6,
.question-links p {
    margin-bottom: 10px;
    line-height: 1;
}

.question-links h6:last-child,
.question-links p:last-child {
    margin-bottom: 0;
}

.question-links-primary {
    border-left-color: var(--primary-color);
}

.question-links-secondary img {
    border-left: 4px solid var(--secondary-color);
    padding-right: 2em;
}

.question-links-primary a {
    color: var(--primary-color);
}

.question-links-secondary a {
    color: var(--secondary-color);
}

.white-box {
    background-color: #fff;
    padding: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    min-height: 180px;
}

.white-box p {
    margin-bottom: 15px;
}

.white-box p:last-child {
    margin-bottom: 0;
}

.white-box:hover {
    background-color: var(--primary-color);
}

.white-box:hover p {
    color: #fff;
}

.white-box {
    padding-left: 120px;
    background-position: 50px center;
    background-repeat: no-repeat;
}

.white-box-1 {
    background-image: url(../img/ico-cat/1.png);
}

.white-box-1:hover {
    background-image: url(../img/ico-cat/1-white.png);
}

.white-box-2 {
    background-image: url(../img/ico-cat/2.png);
}

.white-box-2:hover {
    background-image: url(../img/ico-cat/2-white.png);
}

.white-box-3 {
    background-image: url(../img/ico-cat/3.png);
}

.white-box-3:hover {
    background-image: url(../img/ico-cat/3-white.png);
}

.white-box-4 {
    background-image: url(../img/ico-cat/4.png);
}

.white-box-4:hover {
    background-image: url(../img/ico-cat/4-white.png);
}

.white-box-5 {
    background-image: url(../img/ico-cat/5.png);
}

.white-box-5:hover {
    background-image: url(../img/ico-cat/5-white.png);
}

.white-box-6 {
    background-image: url(../img/ico-cat/6.png);
}

.white-box-6:hover {
    background-image: url(../img/ico-cat/6-white.png);
}

.full-section {
    min-height: 100vh;
}

.image-article figure img {
    max-height: 70vh;
}

.image-article-headding,
.image-article h2 {
    margin-bottom: 30px;
}

.image-article-headding:last-child,
.image-article h2:last-child {
    margin-bottom: 0;
}

.image-article-headding span {
    margin-right: 15px;
}

.image-article-headding span:last-child {
    margin-right: 0;
}

.image-article .links {
    margin-top: 30px;
}

.image-article .links:first-child {
    margin-top: 0;
}

.image-article p {
    max-width: 80%;
    text-align: justify;
}

.section-headding {
    margin-bottom: 30px;
}

.section-headding:last-child {
    margin-bottom: 0;
}

.case-study figure,
.case-study-headding {
    margin-bottom: 30px;
}

.case-study figure:last-child,
.case-study-headding:last-child {
    margin-bottom: 0;
}

.case-study p {
    margin-bottom: 10px;
    font-size: 16px;
}

.case-study p:last-child {
    margin-bottom: 0;
}

.case-study figure img {
    border-radius: 20px;
}

.text-slider.slick-slider {
    margin: 0;
}

.text-slider.slick-slider .slick-dots {
    position: static;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.text-slider.slick-slider .slick-dots li,
.text-slider.slick-slider .slick-dots li button {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.text-slider.slick-slider .slick-dots li {
    margin-right: 5px;
    opacity: 0.5;
}

.text-slider.slick-slider .slick-dots li.slick-active {
    opacity: 1;
}

.text-slider.slick-slider .slick-dots li:last-child {
    margin-right: 0;
}

.text-slider.slick-slider .slick-dots li button {
    width: 8px;
    height: 3px;
    background-color: #fff;
}

.text-slider.slick-slider .slick-dots li button::before {
    display: none;
}

.article-bg {
    padding: 30px;
    border-radius: 25px;
    background-color: #fcfcfc;
}

.scroll-to-fixed-fixed {
    top: 20px !important;
}

.vantaggi-box {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.14);
    padding: 20px;
    max-width: 100% !important;
    text-align: center;
}

@media(max-width:1499px) {
    .logo img {
        max-width: 140px;
    }
    .header-menu {
        margin-left: 50px;
    }
    .header {
        min-height: 90px;
    }
    .hero-slide p {
        margin-top: 20px;
    }
    .hero-footer {
        min-height: 140px;
    }
    .main {
        padding: 80px 0;
    }
    .section {
        margin-bottom: 80px;
    }
    .footer-block p,
    .footer-block a {
        font-size: 14px;
    }
    .sidebar-list li a {
        font-size: 16px;
    }
    .sidebar-box {
        padding: 25px;
        border-radius: 20px;
    }
    .case-study figure img {
        border-radius: 15px;
    }
}

@media(max-width:1199px) {
    .logo img {
        max-width: 120px;
    }
    .prodotti-services h4 {
        margin-bottom: 10px;
    }
    .main {
        padding: 50px 0;
    }
    .section {
        margin-bottom: 50px;
    }
    blockquote h3 {
        padding-left: 60px;
    }
    blockquote h3::before {
        font-size: 80px;
    }
    .sidebar-box {
        padding: 25px 20px;
        border-radius: 15px;
    }
    .sidebar-list li a {
        font-size: 15px;
    }
    .question-links {
        padding-left: 25px;
    }
}

@media(max-width:991px) {
    .hero-footer {
        min-height: 100px;
    }
    .logo img {
        max-width: 110px;
    }
    .header {
        min-height: 80px;
    }
    .sidebar-box {
        padding: 20px 15px;
        border-radius: 10px;
    }
    .sidebar-box h6 i {
        font-size: 14px;
    }
    .sidebar-list li {
        margin-bottom: 10px;
    }
    .question-links {
        padding-left: 170px;
    }
    .image-article {
        text-align: center;
    }
    .image-article p {
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
    }
    .image-article figure img {
        max-height: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .image-article-headding,
    .image-article h2 {
        margin-bottom: 20px;
    }
    .image-article .links {
        margin-top: 20px;
    }
    .white-box {
        padding: 20px;
        min-height: 160px;
        padding-left: 100px;
        background-position: 25px center;
        border-radius: 15px;
    }
    .case-study p {
        font-size: 15px;
    }
    .case-study figure img {
        border-radius: 10px;
    }
    .article-bg {
        padding: 20px;
        border-radius: 20px;
    }
    .sidebar-wrap.scroll-to-fixed-fixed {
        position: static !important;
    }
    .sidebar-wrap.scroll-to-fixed-fixed+div {
        display: none !important;
    }
}

@media(max-width:767px) {
    .hero-footer {
        /*text-align: center;*/
        display: none!important;
    }
    .vantaggi {
        padding-top: 50px;
    }
    .question-links {
        background-image: none;
    }
    .hero-slider {
        text-align: center;
    }
    .hero-slide p {
        margin: 15px auto 0;
        max-width: 90%;
    }
    .logo {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }
    .logo img {
        max-width: 100px;
    }
    .header {
        min-height: auto;
    }
    .hero-footer .row.rows {
        justify-content: center;
    }
    .footer-block {
        margin-bottom: 20px;
    }
    .sidebar-list li a {
        font-size: 14px;
    }
    .banner::before {
        display: none;
    }
    .banner {
        text-align: center;
    }
    .banner p {
        max-width: 90%;
        margin: 15px auto 0;
    }
    .banner figure img {
        max-height: 300px;
    }
    .banner .container-fluid {
        padding-top: 65px;
        padding-bottom: 30px;
    }
    .question-links {
        padding-left: 15px;
    }
    .image-article-headding,
    .image-article h2 {
        margin-bottom: 15px;
    }
    .image-article .links {
        margin-top: 15px;
    }
    .case-study p {
        font-size: 14px;
    }
    .section-headding .question-links {
        margin-top: 30px;
    }
    .article-bg {
        padding: 15px;
        border-radius: 15px;
    }
    .text-slider.slick-slider .slick-dots {
        justify-content: center;
    }
}

@media(max-width:575px) {
    .banner figure img {
        max-height: 250px;
    }
}

@media(max-width:480px) {
    .banner figure img {
        max-height: 200px;
    }
}

.btn-custom,
.btn-danger {
    background-color: rgb(236, 101, 25);
}

.first-color {
    color: white;
}

.btn-danger:hover {
    color: rgb(236, 101, 25);
    background-color: white;
    border: 2px solid rgb(236, 101, 25);
}

.page-header-desc {
    padding: 2em 0;
    font-weight: bold;
}

.title-underblock .custom {
    padding: 2em 0;
    color: rgb(236, 101, 25);
}

.bg-custom,
.bg-dark,
.bg-lightgray {
    padding: 2em;
    margin-bottom: 2em;
}

.pb40 {
    padding-bottom: 40px;
}

.pb80 {
    padding-bottom: 80px;
}

.mb50 {
    margin-bottom: 50px;
}

.mt50 {
    margin-top: 50px;
}

.mt0 {
    margin-top: 0;
}


/* --------------------------------------------------
2.21 Callouts (see:elements-callouts.html) ------- */

.callout {
    position: relative;
    margin-bottom: 60px;
    padding: 30px 25px;
    background-color: #f1f1f1;
    overflow: hidden;
}

.boxed .callout .container,
.boxed-long .callout .container {
    width: 100% !important;
}

.callout.lighter {
    background-color: #f8f8f8;
}

.callout.no-margin {
    margin: 0 !important;
}

.callout.large {
    padding: 40px 30px;
}

.callout.larger {
    padding: 50px 30px;
}

.callout.largest {
    padding: 70px 30px;
}

.callout.radius4x {
    border-radius: 4px;
}

.callout.radius8x {
    border-radius: 8px;
}

.callout.radius12x {
    border-radius: 12px;
}

.callout.no-padding-bt {
    padding-bottom: 0 !important
}

.callout.bordered {
    background-color: transparent !important;
    border: 3px solid #f1f1f1;
}

.callout.no-bg {
    background-color: transparent !important;
}

.callout.white {
    background-color: #fff !important;
}

.callout.no-border-top {
    border-top: none !important;
}

.callout.bordered.fullwidth {
    border-left: none;
    border-right: none;
}

.callout.callout-vertical {
    text-align: center;
    padding: 35px 25px;
}

.callout.callout-vertical.larger {
    padding: 50px 30px;
}

.callout.callout-vertical.largest {
    padding: 70px 30px;
}

.callout:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 3px;
}

.callout.no-border:after,
.callout.bordered:after,
.callout.callout-vertical.no-border:after {
    display: none;
}

.callout.callout-vertical:after {
    width: auto;
    bottom: auto;
    left: 0;
    top: 0;
    right: 0;
    height: 3px;
}

.callout-icon {
    position: absolute;
    left: 30px;
    top: 50%;
    z-index: 0;
    line-height: 1;
    font-size: 6em;
    color: #fff;
    /* vertical center and rotate little */
    transform: rotate(10deg) translateY(-50%);
    -webkit-transform: rotate(10deg) translateY(-50%);
    -ms-transform: rotate(10deg) translateY(-50%);
}

.callout-icon.reverse {
    left: auto;
    right: 30px;
    transform: rotate(-10deg) translateY(-50%);
    -webkit-transform: rotate(-10deg) translateY(-50%);
    -ms-transform: rotate(-10deg) translateY(-50%);
}

.bordered .callout-icon {
    color: #eaeaea;
}

.callout-wrapper {
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
}

.callout-left,
.callout-right {
    display: table-cell;
    vertical-align: middle;
}

.callout-title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.4;
}

.callout-vertical .callout-title {
    margin-bottom: 13px;
}

.callout-desc {
    font-size: 16px;
    line-height: 1.5;
}

.callout-vertical .callout-desc {
    max-width: 800px;
    margin: 0 auto 25px;
}


/* fix for auto inline-block margin */

.callout-action {
    font-size: 0;
}

.callout-action .btn+.btn {
    margin-left: 10px;
}

.callout-action form {
    max-width: 420px;
    margin: 0 auto;
}


/* Color Schemes - Dark */

.callout.dark {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
}

.callout.dark:not(.bordered) {
    color: #9a9a9a;
}

.callout.dark:not(.bordered) .callout-title {
    color: #bebebe;
}

.callout.dark .callout-icon {
    color: #4e4e4e;
}


/* Color Schemes - Custom*/

.callout.custom:not(.bordered) {
    color: #e1e1e1;
}

.callout.custom:not(.bordered) .callout-title {
    color: #eaeaea;
}

@media (min-width: 768px) {
    .callout-left {
        padding-right: 25px;
    }
    .callout-left *:last-child,
    .callout-right *:last-child {
        margin-bottom: 0;
    }
    .callout-right {
        text-align: right;
    }
    .callout-right.text-left {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .callout {
        text-align: center;
    }
    .callout-wrapper,
    .callout-left,
    .callout-right {
        display: block;
    }
    .callout-desc {
        font-size: 15px;
    }
    .callout-left+.callout-right .callout-title {
        margin-top: 20px;
    }
    .callout-left+.callout-right .callout-desc {
        margin-bottom: 0;
    }
    .callout-action .min-width.btn {
        min-width: 0;
    }
}


/* ----------------------------------------------
2.15 Services (see: elements-services.html) --- */

.service {
    margin-bottom: 40px;
    position: relative;
}

@media (min-width: 768px) {
    .service {
        margin-bottom: 50px;
    }
    .service.service-hover-bg {
        margin-bottom: 30px;
    }
}

.service.reverse {
    text-align: right;
}

.service-icon {
    min-width: 60px;
    width: 50px;
    display: block;
    float: left;
    font-size: 32px;
    line-height: 1;
}

.service.reverse .service-icon {
    float: right;
}

.service-content {
    margin-left: 70px;
}

.service.reverse .service-content {
    margin-left: 0;
    margin-right: 60px;
}

.service-title {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.service.vertical .service-icon {
    float: none;
    margin-bottom: 25px;
}

.service.vertical .service-content {
    margin-left: 0;
}

.service.vertical.reverse .service-content {
    margin-right: 0;
}

.service.vertical .service-title.title-underblock {
    margin-bottom: 18px;
}

.service-box {
    padding: 25px 15px;
    border: 2px solid #eaeaea;
}

.bg-gray .service-box {
    border-color: #d6d6d6;
}

.service-box p {
    margin-bottom: 0;
}

.service-hover {
    overflow: hidden;
}

.service-hover-bg {
    transition: background 0.4s cubic-bezier(.17, .83, .29, .04), border 0.4s cubic-bezier(.17, .83, .29, .04);
    -webkit-transition: background 0.4s cubic-bezier(.17, .83, .29, .04), border 0.4s cubic-bezier(.17, .83, .29, .04);
}

.service-hover-bg:hover,
.service-hover-bg:hover .first-color,
.service-hover-bg:hover .second-color,
.service-hover-bg:hover .third-color,
.service-hover-bg:hover .service-title,
.service-hover-bg.custom2:hover,
.service-p:hover {
    color: #fff;
}

.service-hover-bg.dark:hover {
    background-color: #2a2a2a;
    border-color: #1a1a1a;
    color: #fff;
}

.service-hover-bg.dark:hover .title-underblock.custom:after,
.service-hover-bg.dark:hover .title-underblock.gray:after,
.service-hover-bg.dark:hover .title-underblock.dark:after {
    background-color: #1a1a1a;
}

.service-group .service-hover-bg {
    padding: 25px 15px;
}

.service-group .service-hover-bg p {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .service-group .service {
        margin-bottom: 80px;
    }
    .service-group .service:before,
    .service-group .service:after {
        content: '';
        display: block;
        position: absolute;
        background-color: #eaeaea;
    }
    .service-group .service:before {
        height: 2px;
        left: 0;
        right: 0;
        bottom: -40px;
    }
    .service-group .service:after {
        width: 2px;
        top: 0;
        bottom: 0;
        right: -16px;
    }
    .service-group .row:last-child .service:before {
        display: none;
    }
    .service-group .col-sm-4:last-child .service:after {
        display: none;
    }
    .service-group .service-hover {
        overflow: visible;
    }
}


/**************** Highlight ***********************/

.highlight {
    padding: 0 0.3em;
    background-color: rgb(236, 101, 25);
}

.highlight.reverse {
    color: #fff;
    background-color: rgb(236, 101, 25);
}

.highlight.first-color,
.highlight.second-color,
.highlight.third-color,
.text-white,
a.text-white {
    color: #fff;
}

a.text-white:hover,
a.text-white:focus {
    color: #eaeaea;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-dark {
    background-color: #2a2a2a;
    color: #9a9a9a;
}

.bg-custom {
    background-color: rgb(236, 101, 25);
}

.bg-gray,
#wrapper.bg-gray {
    background-color: #e1e1e1;
}

.bg-lightgray {
    background-color: #f2f2f2;
}

.bg-lightgrayv2 {
    background-color: #f8f8f8;
}

.bg-lightergray {
    background-color: #fafafa;
}

.bg-darkgray {
    background-color: #b7b7b7;
}

.text-white {
    color: #fff;
}

.text-lightgray {
    color: #f1f1f1;
}

.text-gray {
    color: #e1e1e1;
}

.text-darkgray {
    color: #aeaeae;
}

.text-muted {
    color: #7a7a7a;
}

.text-darkmuted {
    color: #5e5e5e;
}

.text-dark {
    color: #2a2a2a;
}

.dropcap,
.dropcap-bg {
    font-size: 3.8em;
    line-height: 1;
    padding-right: 0.2em;
    float: left;
    text-transform: uppercase;
    color: #505050;
}

.dropcap-bg {
    padding: 0.02em 0.07em 0.03em;
    color: #fff !important;
    margin-right: 0.15em;
    background-color: #505050;
}


/* --------------------------------------
2.2 Buttons ------------------------ */

.btn.min-width {
    min-width: 140px;
    text-align: center !important;
}

.btn.min-width-md {
    min-width: 160px;
    text-align: center !important;
}

.btn.min-width-lg {
    min-width: 180px;
    text-align: center !important;
}

.btn.min-width-xlg {
    min-width: 200px;
    text-align: center !important;
}

.btn {
    padding: 9px 16px;
    font-size: 14px;
    transition: color 0.2s ease, background 0.45s ease, border 0.4s ease-in-out;
    -webkit-transition: color 0.2s ease, background 0.45s ease, border 0.4s ease-in-out;
}

.btn.btn-lg,
.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

.btn.btn-sm,
.btn-group-sm>.btn {
    padding: 7px 10px;
    font-size: 12px;
}

.btn.btn-xs,
.btn-group-xs>.btn {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn.btn-border {
    border-width: 2px;
    padding: 8px 15px;
    background-color: transparent;
}

.btn.btn-border.btn-sm {
    padding: 6px 9px;
}

.btn.btn-border.btn-lg {
    padding: 9px 15px;
}

.btn.btn-border.btn-xs {
    padding: 1px 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active,
.open>.dropdown-toggle.btn-custom,
.btn-custom2,
.btn-custom2:hover,
.btn-custom2:focus,
.btn-custom2.focus,
.btn-custom2:active,
.btn-custom2.active,
.open>.dropdown-toggle.btn-custom2,
.btn-custom3,
.btn-custom3:hover,
.btn-custom3:focus,
.btn-custom3.focus,
.btn-custom3:active,
.btn-custom3.active,
.open>.dropdown-toggle.btn-custom3 {
    color: #fff;
}

.btn-dark {
    color: #eaeaea;
    background-color: #3e3e3e;
    border-color: #3e3e3e;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open>.dropdown-toggle.btn-dark {
    color: #f0f0f0;
    background-color: #2a2a2a;
    border-color: #2a2a2a;
}

.btn-gray {
    color: #505050;
    background-color: #eaeaea;
    border-color: #eaeaea;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray.focus,
.btn-gray:active,
.btn-gray.active,
.open>.dropdown-toggle.btn-gray {
    color: #4a4a4a;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}

.btn-white {
    color: #4a4a4a;
    background-color: #fff;
    border-color: #fff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open>.dropdown-toggle.btn-white {
    color: #000;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.btn.btn-border.btn-default {
    color: #aeaeae;
    border-color: #aeaeae;
}

.btn.btn-border.btn-default:hover,
.btn.btn-border.btn-default:focus {
    color: #505050;
    border-color: #adadad;
    background-color: #e6e6e6;
}

.btn.btn-border.btn-primary {
    color: #337ab7;
}

.btn.btn-border.btn-primary:hover,
.btn.btn-border.btn-primary:focus {
    color: #fff;
    border-color: #204d74;
    background-color: #286090;
}

.btn.btn-border.btn-success {
    color: #4caf50;
}

.btn.btn-border.btn-success:hover,
.btn.btn-border.btn-success:focus {
    color: #fff;
    border-color: #327334;
    background-color: #3d8b40;
}

.btn.btn-border.btn-warning {
    color: #ffc107;
}

.btn.btn-border.btn-warning:hover,
.btn.btn-border.btn-warning:focus {
    color: #fff;
    border-color: #af8300;
    background-color: #d39e00;
}

.btn.btn-border.btn-danger {
    color: #ea1c0d;
}

.btn.btn-border.btn-danger:hover,
.btn.btn-border.btn-danger:focus {
    color: #fff;
    border-color: #c8180b;
    background-color: #ea1c0d;
}

.btn.btn-border.btn-info {
    color: #2196f3;
}

.btn.btn-border.btn-info:hover,
.btn.btn-border.btn-info:focus {
    color: #fff;
    border-color: #0a68b4;
    background-color: #0c7cd5;
}

.btn.btn-border.btn-custom:hover,
.btn.btn-border.btn-custom:focus,
.btn.btn-border.btn-custom2:hover,
.btn.btn-border.btn-custom2:focus,
.btn.btn-border.btn-custom3:hover,
.btn.btn-border.btn-custom3:focus {
    color: #fff;
}

.btn.btn-border.btn-dark {
    color: #2a2a2a;
}

.btn.btn-border.btn-dark:hover,
.btn.btn-border.btn-dark:focus {
    color: #f1f1f1;
    border-color: #1a1a1a;
    background-color: #2a2a2a;
}

.btn.btn-border.btn-gray {
    color: #505050;
    border-color: #eaeaea;
}

.btn.btn-border.btn-gray:hover,
.btn.btn-border.btn-gray:focus {
    color: #505050;
    border-color: #eaeaea;
    background-color: #eaeaea;
}

.btn.btn-border.btn-white {
    color: #fff;
    background: transparent;
    border-color: white;
}

.btn.btn-border.btn-white:hover,
.btn.btn-border.btn-white:focus,
.btn.btn-border.btn-white.v2:hover,
.btn.btn-border.btn-white.v2:focus {
    color: #fff;
}

.btn.no-radius {
    border-radius: 0 !important;
}

.btn.radius-lg {
    border-radius: 12px !important;
}

.btn.radius-lger {
    border-radius: 24px !important;
}

.btn-group>.btn+.btn {
    border-left: 1px solid rgba(0, 0, 0, .07);
}

a {
    color: rgb(236, 101, 25);
}

.blog-date {
    font-size: 1.2em;
    font-weight: 100;
    color: darkgray;
}

.language-flags .languages {
    padding-left: 1em;
}

.header-menu ul.dropdown-menu {
    padding: 1em;
    width: 20em;
}

.page-header.custom.larger.larger-desc {
    padding-top: 3em;
    padding-bottom: 1em;
    background-color: #ec6519;
    color: white;
    margin-bottom: 1em;
    margin-top: 1em;
}

.page-header p {
    color: black;
}

.btn.btn-primary {
    background-color: #0e9ccc;
}

.article h2.mt0 {
    margin-top: 0;
}

.article h2.vantaggi {
    margin-top: 1em;
}

h3.lightblue {
    padding: 25px 15px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
    color: #505050;
}

.pricing-table-container {
    padding: 0;
}

.pricing-row {
    margin-left: 0;
    margin-right: 0;
}

.pricing-table {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.pricing-table h3 {
    padding: 25px 15px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.018);
    color: #505050;
}

.pricing-table header {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 30px;
    position: relative;
}

.pricing-table .price {
    display: inline-block;
    width: 124px;
    height: 124px;
    border-radius: 500px;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #303030;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}

.pricing-table .price span {
    display: block;
    margin-top: 39px;
    font: 700 32px/32px 'Raleway', sans-serif;
}

.pricing-table .pricing-list {
    list-style: none;
    text-align: center;
    font: 14px/22px 'Lato', sans-serif;
    border-top: 1px dashed #eaeaea;
    margin-bottom: 0;
}

.pricing-table .pricing-list li:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.018);
}

.pricing-table .pricing-list li {
    padding: 8px 15px;
    border-bottom: 1px dashed #eaeaea;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.pricing-action {
    text-align: center;
    padding: 20px 15px;
}

ol.breadcrumb {
    margin-top: 10em;
}

@media(max-width:1499px) {
    p {
        font-size: 20px;
    }
}

.striscia-arancio h2 {
    font-weight: 300;
}

.striscia-arancio .btn {
    font-weight: 400;
    font-size: 1.2em;
}